.form_login {
  display: grid;
  grid-template-columns: 200px 1fr;

  gap: 25px;
  align-items: center;
  padding-bottom: 5%;
}

.form_login label {
  justify-self: end;
  color: black;
}

.form_login input {
  width: 50%;
}

.card_login {
  color: black;
}